POSTGRES_USER=proofeat
POSTGRES_PASSWORD=proofeat_password
POSTGRES_DB=proofeat
JWT_SECRET=change-me-superadmin
VITE_API_URL=http://localhost
APP_TIMEZONE=Africa/Tunis
ADMIN_EMAILS=
FRONTEND_HTTP_PORT=80
FRONTEND_HTTPS_PORT=443
SERVER_NAME=proofeat.cloud
