--
-- PostgreSQL database dump
--

\restrict jroC0dfRfUZS5DLen6tZlLFsH9ZifZ41hatF7MwArr6hYLMOYwmo6INdzyYesBv

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: StockUnit; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."StockUnit" AS ENUM (
    'CARTON',
    'KG'
);


ALTER TYPE public."StockUnit" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'ADMIN',
    'CLIENT',
    'SUPERADMIN'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Claim; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Claim" (
    id integer NOT NULL,
    "orderId" integer NOT NULL,
    reason text NOT NULL,
    status text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Claim" OWNER TO postgres;

--
-- Name: Claim_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Claim_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Claim_id_seq" OWNER TO postgres;

--
-- Name: Claim_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Claim_id_seq" OWNED BY public."Claim".id;


--
-- Name: DatasetRelease; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."DatasetRelease" (
    id integer NOT NULL,
    kind text DEFAULT 'proofcam'::text NOT NULL,
    "csvPath" text,
    "jsonPath" text,
    "availableFrom" timestamp(3) without time zone NOT NULL,
    "availableUntil" timestamp(3) without time zone NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."DatasetRelease" OWNER TO postgres;

--
-- Name: DatasetRelease_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."DatasetRelease_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."DatasetRelease_id_seq" OWNER TO postgres;

--
-- Name: DatasetRelease_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."DatasetRelease_id_seq" OWNED BY public."DatasetRelease".id;


--
-- Name: InventoryProduct; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."InventoryProduct" (
    id integer NOT NULL,
    name text NOT NULL,
    price double precision NOT NULL,
    "stockQuantity" double precision DEFAULT 0 NOT NULL,
    "stockUnit" public."StockUnit" NOT NULL,
    "alertThreshold" double precision NOT NULL,
    "createdById" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."InventoryProduct" OWNER TO postgres;

--
-- Name: InventoryProduct_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."InventoryProduct_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."InventoryProduct_id_seq" OWNER TO postgres;

--
-- Name: InventoryProduct_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."InventoryProduct_id_seq" OWNED BY public."InventoryProduct".id;


--
-- Name: InventoryUsage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."InventoryUsage" (
    id integer NOT NULL,
    "productId" integer NOT NULL,
    "storeId" integer NOT NULL,
    quantity double precision NOT NULL,
    unit public."StockUnit" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."InventoryUsage" OWNER TO postgres;

--
-- Name: InventoryUsage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."InventoryUsage_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."InventoryUsage_id_seq" OWNER TO postgres;

--
-- Name: InventoryUsage_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."InventoryUsage_id_seq" OWNED BY public."InventoryUsage".id;


--
-- Name: Notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Notification" (
    id integer NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    role public."UserRole",
    "isRead" boolean DEFAULT false NOT NULL,
    metadata jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Notification" OWNER TO postgres;

--
-- Name: Notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Notification_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Notification_id_seq" OWNER TO postgres;

--
-- Name: Notification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Notification_id_seq" OWNED BY public."Notification".id;


--
-- Name: Order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Order" (
    id integer NOT NULL,
    amount double precision NOT NULL,
    client text NOT NULL,
    status text NOT NULL,
    image text
);


ALTER TABLE public."Order" OWNER TO postgres;

--
-- Name: Order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Order_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Order_id_seq" OWNER TO postgres;

--
-- Name: Order_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Order_id_seq" OWNED BY public."Order".id;


--
-- Name: Proof; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Proof" (
    id integer NOT NULL,
    "imageUrl" text NOT NULL,
    hash text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Proof" OWNER TO postgres;

--
-- Name: ProofCamScan; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProofCamScan" (
    id integer NOT NULL,
    "imageUrl" text NOT NULL,
    "processedUrl" text,
    "ticketNumber" text,
    "customerName" text,
    "originalName" text,
    "rawText" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status text DEFAULT 'processing'::text NOT NULL,
    "parsedData" jsonb,
    "phoneNumber" text,
    "ticketDate" timestamp(3) without time zone,
    "totalAmount" double precision,
    "userId" integer
);


ALTER TABLE public."ProofCamScan" OWNER TO postgres;

--
-- Name: ProofCamScan_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."ProofCamScan_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ProofCamScan_id_seq" OWNER TO postgres;

--
-- Name: ProofCamScan_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."ProofCamScan_id_seq" OWNED BY public."ProofCamScan".id;


--
-- Name: Proof_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Proof_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Proof_id_seq" OWNER TO postgres;

--
-- Name: Proof_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Proof_id_seq" OWNED BY public."Proof".id;


--
-- Name: StockAlert; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StockAlert" (
    id integer NOT NULL,
    "productId" integer NOT NULL,
    message text NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."StockAlert" OWNER TO postgres;

--
-- Name: StockAlert_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."StockAlert_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."StockAlert_id_seq" OWNER TO postgres;

--
-- Name: StockAlert_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."StockAlert_id_seq" OWNED BY public."StockAlert".id;


--
-- Name: StockInvoiceBackup; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."StockInvoiceBackup" (
    id integer NOT NULL,
    "imageUrl" text NOT NULL,
    "originalName" text,
    amount numeric(10,2),
    "uploadedById" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "inventoryProductId" integer
);


ALTER TABLE public."StockInvoiceBackup" OWNER TO postgres;

--
-- Name: StockInvoiceBackup_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."StockInvoiceBackup_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."StockInvoiceBackup_id_seq" OWNER TO postgres;

--
-- Name: StockInvoiceBackup_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."StockInvoiceBackup_id_seq" OWNED BY public."StockInvoiceBackup".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    role public."UserRole" DEFAULT 'CLIENT'::public."UserRole" NOT NULL,
    name text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."User_id_seq" OWNER TO postgres;

--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: Claim id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Claim" ALTER COLUMN id SET DEFAULT nextval('public."Claim_id_seq"'::regclass);


--
-- Name: DatasetRelease id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DatasetRelease" ALTER COLUMN id SET DEFAULT nextval('public."DatasetRelease_id_seq"'::regclass);


--
-- Name: InventoryProduct id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InventoryProduct" ALTER COLUMN id SET DEFAULT nextval('public."InventoryProduct_id_seq"'::regclass);


--
-- Name: InventoryUsage id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InventoryUsage" ALTER COLUMN id SET DEFAULT nextval('public."InventoryUsage_id_seq"'::regclass);


--
-- Name: Notification id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification" ALTER COLUMN id SET DEFAULT nextval('public."Notification_id_seq"'::regclass);


--
-- Name: Order id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Order" ALTER COLUMN id SET DEFAULT nextval('public."Order_id_seq"'::regclass);


--
-- Name: Proof id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Proof" ALTER COLUMN id SET DEFAULT nextval('public."Proof_id_seq"'::regclass);


--
-- Name: ProofCamScan id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProofCamScan" ALTER COLUMN id SET DEFAULT nextval('public."ProofCamScan_id_seq"'::regclass);


--
-- Name: StockAlert id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StockAlert" ALTER COLUMN id SET DEFAULT nextval('public."StockAlert_id_seq"'::regclass);


--
-- Name: StockInvoiceBackup id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StockInvoiceBackup" ALTER COLUMN id SET DEFAULT nextval('public."StockInvoiceBackup_id_seq"'::regclass);


--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Data for Name: Claim; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Claim" (id, "orderId", reason, status, "createdAt") FROM stdin;
\.


--
-- Data for Name: DatasetRelease; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."DatasetRelease" (id, kind, "csvPath", "jsonPath", "availableFrom", "availableUntil", "isActive", metadata, "createdAt") FROM stdin;
\.


--
-- Data for Name: InventoryProduct; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."InventoryProduct" (id, name, price, "stockQuantity", "stockUnit", "alertThreshold", "createdById", "createdAt", "updatedAt") FROM stdin;
1	tacos pate	2.5	134	CARTON	148	46	2026-06-05 02:22:33.549	2026-06-05 18:03:29.849
\.


--
-- Data for Name: InventoryUsage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."InventoryUsage" (id, "productId", "storeId", quantity, unit, "createdAt") FROM stdin;
1	1	48	9	CARTON	2026-06-05 02:23:33.988
2	1	48	7	CARTON	2026-06-05 18:03:29.851
\.


--
-- Data for Name: Notification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Notification" (id, title, message, role, "isRead", metadata, "createdAt") FROM stdin;
\.


--
-- Data for Name: Order; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Order" (id, amount, client, status, image) FROM stdin;
1	30	Client A	pending	\N
2	30	Client Scanned	scanned	./uploads/ticket-1777989477994.png
3	30	Client Scanned	scanned	./uploads/ticket-1777989488786.png
4	30	Client Scanned	scanned	./uploads/ticket-1777993495976.png
5	30	Client Scanned	scanned	./uploads/ticket-1777993919258.png
\.


--
-- Data for Name: Proof; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Proof" (id, "imageUrl", hash, "createdAt") FROM stdin;
\.


--
-- Data for Name: ProofCamScan; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: StockAlert; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."StockAlert" (id, "productId", message, "isRead", "createdAt") FROM stdin;
1	1	Stock faible: tacos pate (141 CARTON restants)	t	2026-06-05 02:23:34
2	1	Stock faible: tacos pate (134 CARTON restants)	f	2026-06-05 18:03:29.854
\.


--
-- Data for Name: StockInvoiceBackup; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."StockInvoiceBackup" (id, "imageUrl", "originalName", amount, "uploadedById", "createdAt", "inventoryProductId") FROM stdin;
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, email, password, "createdAt", role, name) FROM stdin;
48	ihebhaouech27@gmail.com	$2b$10$2ZojvfGKUFHOuMavVfxTqOAKWar6mfZLzwKYlrXx8nubEKxOWYWpq	2026-05-28 22:25:09.889	CLIENT	\N
46	test2@test.com	$2b$10$bJQvkEqWlwEgLdWrkdhh6OwzJEOHuqSY8/vD6LGFEyMx4QgvD3uVe	2026-05-02 18:41:44.161	ADMIN	\N
49	superadmin@proofeat.cloud	$2b$10$gWZbhPZMk3NYCjH1fraZkeRXaVPfI6eEnROUx.QGF2HBqCv6XWRje	2026-06-05 20:24:22.519	SUPERADMIN	Super Admin
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Claim_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Claim_id_seq"', 1, false);


--
-- Name: DatasetRelease_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."DatasetRelease_id_seq"', 1, false);


--
-- Name: InventoryProduct_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."InventoryProduct_id_seq"', 1, true);


--
-- Name: InventoryUsage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."InventoryUsage_id_seq"', 2, true);


--
-- Name: Notification_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Notification_id_seq"', 1, false);


--
-- Name: Order_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Order_id_seq"', 5, true);


--
-- Name: ProofCamScan_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."ProofCamScan_id_seq"', 124, true);


--
-- Name: Proof_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Proof_id_seq"', 1, false);


--
-- Name: StockAlert_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."StockAlert_id_seq"', 2, true);


--
-- Name: StockInvoiceBackup_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."StockInvoiceBackup_id_seq"', 1, false);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."User_id_seq"', 49, true);


--
-- Name: Claim Claim_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Claim"
    ADD CONSTRAINT "Claim_pkey" PRIMARY KEY (id);


--
-- Name: DatasetRelease DatasetRelease_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."DatasetRelease"
    ADD CONSTRAINT "DatasetRelease_pkey" PRIMARY KEY (id);


--
-- Name: InventoryProduct InventoryProduct_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InventoryProduct"
    ADD CONSTRAINT "InventoryProduct_pkey" PRIMARY KEY (id);


--
-- Name: InventoryUsage InventoryUsage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InventoryUsage"
    ADD CONSTRAINT "InventoryUsage_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: Order Order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Order"
    ADD CONSTRAINT "Order_pkey" PRIMARY KEY (id);


--
-- Name: ProofCamScan ProofCamScan_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProofCamScan"
    ADD CONSTRAINT "ProofCamScan_pkey" PRIMARY KEY (id);


--
-- Name: Proof Proof_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Proof"
    ADD CONSTRAINT "Proof_pkey" PRIMARY KEY (id);


--
-- Name: StockAlert StockAlert_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StockAlert"
    ADD CONSTRAINT "StockAlert_pkey" PRIMARY KEY (id);


--
-- Name: StockInvoiceBackup StockInvoiceBackup_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StockInvoiceBackup"
    ADD CONSTRAINT "StockInvoiceBackup_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: DatasetRelease_availableUntil_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DatasetRelease_availableUntil_idx" ON public."DatasetRelease" USING btree ("availableUntil");


--
-- Name: DatasetRelease_kind_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "DatasetRelease_kind_isActive_idx" ON public."DatasetRelease" USING btree (kind, "isActive");


--
-- Name: InventoryProduct_name_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "InventoryProduct_name_idx" ON public."InventoryProduct" USING btree (name);


--
-- Name: InventoryUsage_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "InventoryUsage_createdAt_idx" ON public."InventoryUsage" USING btree ("createdAt");


--
-- Name: InventoryUsage_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "InventoryUsage_productId_idx" ON public."InventoryUsage" USING btree ("productId");


--
-- Name: InventoryUsage_storeId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "InventoryUsage_storeId_idx" ON public."InventoryUsage" USING btree ("storeId");


--
-- Name: Notification_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_createdAt_idx" ON public."Notification" USING btree ("createdAt");


--
-- Name: Notification_isRead_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_isRead_idx" ON public."Notification" USING btree ("isRead");


--
-- Name: Notification_role_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "Notification_role_idx" ON public."Notification" USING btree (role);


--
-- Name: ProofCamScan_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ProofCamScan_createdAt_idx" ON public."ProofCamScan" USING btree ("createdAt");


--
-- Name: ProofCamScan_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ProofCamScan_status_idx" ON public."ProofCamScan" USING btree (status);


--
-- Name: ProofCamScan_ticketNumber_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ProofCamScan_ticketNumber_idx" ON public."ProofCamScan" USING btree ("ticketNumber");


--
-- Name: ProofCamScan_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "ProofCamScan_userId_idx" ON public."ProofCamScan" USING btree ("userId");


--
-- Name: StockAlert_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StockAlert_createdAt_idx" ON public."StockAlert" USING btree ("createdAt");


--
-- Name: StockAlert_isRead_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StockAlert_isRead_idx" ON public."StockAlert" USING btree ("isRead");


--
-- Name: StockAlert_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StockAlert_productId_idx" ON public."StockAlert" USING btree ("productId");


--
-- Name: StockInvoiceBackup_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StockInvoiceBackup_createdAt_idx" ON public."StockInvoiceBackup" USING btree ("createdAt");


--
-- Name: StockInvoiceBackup_uploadedById_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "StockInvoiceBackup_uploadedById_idx" ON public."StockInvoiceBackup" USING btree ("uploadedById");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: InventoryProduct InventoryProduct_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InventoryProduct"
    ADD CONSTRAINT "InventoryProduct_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: InventoryUsage InventoryUsage_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InventoryUsage"
    ADD CONSTRAINT "InventoryUsage_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."InventoryProduct"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: InventoryUsage InventoryUsage_storeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InventoryUsage"
    ADD CONSTRAINT "InventoryUsage_storeId_fkey" FOREIGN KEY ("storeId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProofCamScan ProofCamScan_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProofCamScan"
    ADD CONSTRAINT "ProofCamScan_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: StockAlert StockAlert_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StockAlert"
    ADD CONSTRAINT "StockAlert_productId_fkey" FOREIGN KEY ("productId") REFERENCES public."InventoryProduct"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: StockInvoiceBackup StockInvoiceBackup_inventoryProductId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StockInvoiceBackup"
    ADD CONSTRAINT "StockInvoiceBackup_inventoryProductId_fkey" FOREIGN KEY ("inventoryProductId") REFERENCES public."InventoryProduct"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: StockInvoiceBackup StockInvoiceBackup_uploadedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."StockInvoiceBackup"
    ADD CONSTRAINT "StockInvoiceBackup_uploadedById_fkey" FOREIGN KEY ("uploadedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict jroC0dfRfUZS5DLen6tZlLFsH9ZifZ41hatF7MwArr6hYLMOYwmo6INdzyYesBv

